.features{
    margin: 15rem 0;
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;

    & .feature{
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-gap: 1.5rem 2.5rem;

        & .feature-icon{
            fill: none;
            stroke: $color-primary;
            width: 4.5rem;
            height: 4.5rem;
            grid-row: 1 / span 2;
        }

        & .feature-heading{
            font-family: $font-display;
            font-weight: 400;
            font-size: 1.9rem;
            color: $color-grey-dark-1;
        }

        & .feature-text{
            font-size: 1.7rem;
        }
    }
}